//font-family: 'Dosis', sans-serif;
//font-family: 'Maven Pro', sans-serif;

h1, h2, h3, h4, h5, h6{
    font-family: 'Maven Pro';
    font-weight: 500;
    color: #8c8681;
}

textarea{
    resize: vertical;
}