.content-info{

    color: #fff;
    font-size: 12px;

    >.container{
        background-color: #656668;
    }

    .widget-columns{
        margin: 30px 0;

        @media (min-width: @screen-sm-min){
            margin: 40px 0 75px;
            display: table;
            width: 100%;
        }

        .widget{
            border: 0px solid #838486;
            padding: 0 20px 15px;
            overflow: hidden;

            @media (min-width: @screen-sm-min){
                display: table-cell;
                vertical-align: top;
                min-width: 15%;
            }

            &+.widget{
                border-width: 2px 0 0;

                @media (min-width: @screen-sm-min){
                    border-width: 0 0 0 2px;
                }
            }

            &:first-child{
                &:before{
                    content: url('../img/bg/logo-icon.png');
                    float: left;
                    margin-right: 20px;
                }

                /* background-image: url('../img/bg/logo-icon.png');
                background-repeat: no-repeat;
                background-size: 70px auto; */

                p:last-child{
                    font-family: 'Dosis';
                    font-size: 12px;
                    color: @brand-primary;
                    font-size: 14px;
                }
            }

            &:nth-child(1){
                min-width: 50%;
            }
            &:nth-child(2){
                min-width: 30%;
            }
            &:nth-child(3){
                min-width: 20%;
            }

            h3{
                margin: 11px 0;
                color: @brand-primary;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
            }

            .textwidget{
                >p:first-child{
                    margin-top: 22px;
                }

                p{
                    margin-bottom: 0;

                    &+p{
                        margin-top: 11px;
                    }
                }
                dl{
                    font-family: 'Dosis';
                    margin: 11px 0 0;

                    &:first-child{
                        margin-top: 0;
                    }

                    dt,
                    dd{
                        line-height: 22px;
                    }

                    dt{
                        float: left;
                        clear: left;
                        margin-right: 5px;
                        color: @brand-primary;
                        font-weight: 500;
                    }
                }
            }

            .column{
                font-family: 'Dosis';

                &+.column{
                    padding-left: 20px;
                }

                p+p{
                    margin-top: 6px;
                }

                a{
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
        }
    }
}