.navbar{
    margin: 0;

    .group{
        position: relative;
        margin: 0 -15px;

        @media (min-width: @screen-md-min){
            margin: 0;
        }
    }

    &.navbar-default{
        background-color: transparent;
        border-bottom: 0 none;
    }

    .section-left{
        @media (min-width: @screen-md-min){
            background-color: #fff;
            float: left;
            position: relative;
        }
    }

    .section-right{
        display: table;
        width: 100%;

        @media (min-width: @screen-md-min){
            display: block;
            width: auto;
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .logo{
        text-align: center;
        display: block;
        position: relative;
        margin: 0;
        padding: 15px 30px 0;
        overflow: hidden;

        &:before,
        &:after{
            &:extend(.pseudo_element);
        }

        @media (min-width: @screen-md-min){
            &:before,
            &:after{
                z-index: 1;
                bottom: 0;
                height: 200%;
                width: 20px;
                background-color: @body-bg;
            }

            &:before{
                right: 100%;
                .transform-origin(100% 100%);
                .rotate(5deg);
            }
            &:after{
                left: 100%;
                .transform-origin(0 100%);
                .rotate(-5deg);
            }
        }

        img{
            max-width: 100%;
        }
    }

    .tagline{
        margin: 0;
        text-align: center;
        position: relative;
        color: #000;
        font-size: 12px;
        font-family: 'Maven Pro';
        padding: 11px 15px;

        @media (min-width: @screen-md-min){
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 1;
        }
    }

    .custom-link{
        background-color: @brand-secondary;
        color: #000;
        font-family: 'Dosis';
        font-weight: 500;
        line-height: 22px;
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: .3s ease-in;
        transition-property: background-color, color;
        text-align: center;

        @media (min-width: @screen-md-min){
            display: block;
            float: left;
            width: auto;
        }

        &:hover,
        &:focus{
            color: #fff;
            background-color: @brand-primary;

            @media (min-width: @screen-md-min){
                background-color: transpatent;
            }

            span{
                @media (min-width: @screen-md-min){
                    &:before{
                        top: -10px;
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }

        span{
            padding: 10px 15px;
            display: inline-block;
            position: relative;
            width: 100%;

            &:after,
            &:before{
                &:extend(.pseudo_element);
            }

            @media (min-width: @screen-sm-min){
                padding-top: 14px;
                padding-bottom: 14px;
            }

            @media (min-width: @screen-md-min){
                padding-left: 15px;
                padding-top: 34px;

                &:after{
                    border: 0 none;
                    top: auto;
                    bottom: 45px;
                    right: 0;
                    left: auto;
                    height: 100%;
                    width: 200%;
                    background-color: @body-bg;
                    .transform-origin(100% 100%);
                    .rotate(5deg);
                }

                &:before{
                    top: 0px;
                    left: 10px;
                    bottom: 0;
                    width: 50px;
                    height: 50px;
                    background-color: @brand-primary;
                    .transform-origin(100% 0);
                    .rotate(45deg);
                    z-index: -1;
                }
            }
        }
    }

    .primary-nav{
        background-color: #FFF;
        padding: 25px 15px 0;

        .navbar-nav{
            text-align: center;
            font-family: 'Dosis';
            font-weight: 500;
            margin: 0;
            float: none;

            @media (min-width: @screen-md-min){
                float: right;
            }

            >li{
                display: block;
                float: none;

                @media (min-width: @screen-sm-min){
                    display: inline;
                }

                >a{
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px;

                    &:hover,
                    &:focus{
                        background-color: transparent;
                    }
                }

                a{
                    color: #524948;
                    transition: color .2s ease;

                    &:hover,
                    &:focus{
                        color: #000;
                    }
                }

                &.active{
                    >a{
                        background-color: transparent;
                        color: #000;
                    }
                }

                &.open{
                    >a{
                        background-color: transparent;
                    }

                    .dropdown-menu{
                        >li{
                            &.active{
                                >a{
                                    background-color: #f3f3f3;
                                    color: #000;
                                }
                            }

                            >a{
                                &:hover,
                                &:focus{
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .secondary-nav{
        background-color: #959698;
        position: relative;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        z-index: 2;

        &:after{
            &:extend(.pseudo_element);
        }

        @media (min-width: @screen-md-min){
            padding-left: 20px;
            padding-right: 10px;
            display: block;
            width: auto;
            float: left;
            margin-top: 28px;

            &:after{
                top: 0;
                left: 0;
                width: 20px;
                height: 200%;
                background-color: @body-bg;
                .transform-origin(100% 0);
                .rotate(20deg);
            }
        }

        @media (min-width: @screen-lg-min){

        }

        .navbar-nav{
            text-align: center;
            font-family: 'Dosis';
            font-weight: 700;
            margin: 0;
            float: none;
            font-size: 15px;

            >li{
                display: inline;
                float: none;

                &.active{
                    >a{
                        background-color: transparent;
                        color: @brand-primary;
                    }
                }

                >a{
                    display: inline-block;
                    color: #fff;
                    transition: color .2s ease;
                    text-shadow: none;
                    padding: 10px;

                    &:hover,
                    &:focus{
                        color: @brand-primary;
                    }
                }
            }
        }

    }

    .dropdown-menu{
        text-align: center;

        @media (min-width: @screen-sm-min){
            text-align: left;
        }
    }

}